.main-chat-card {
  margin: 30px 0;
  .profile-col {
    @media (max-width: 576px) {
      width: 100% !important;
      text-align: right;
    }
  }
  .card {
    background: $chat-card-bg;
    color: $secondary-font;
    .date {
      font-size: 10px;
      opacity:.8;
      text-align: right;
      padding: 5px 15px 0 0;
    }
    .message-body {
      font-size: 16px;
      margin: 5px 0 0 0;
      padding: 5px 15px 15px 15px;
    }
    .action-bar {
      background: $chat-card-actionbar;
      height: 50px;
      padding: 0 15px;
      .row {
        height: 50px;
        .tag {
          opacity: .4;
          font-size: 14px;
          margin: 0 10px;
          @media (max-width: 576px) {
            font-size: 11px;
          }
          a {
            color: black;
            &:hover {
              color: black;
            }
          }
        }
        .right-actions {
          span {
            &.comments-number {
              margin: 0 25px;
              color: black;
              cursor: pointer;
              font-size: 14px;
              cursor: pointer;
              @media (max-width: 576px) {
                font-size: 12px;
                font-weight: bold;
              }
            }
            &.reply-action {
              .icon {
                width: 15px;
                height: 15px;
                background: url("../public/reply-all-button.svg") no-repeat;
                background-size: 15px 15px;
                display: inline-block;
                margin: 0 0 -3px 0;
              }
              .text {
                display: inline-block;
                color: black;
                font-size: 14px;
                @media (max-width: 576px) {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
  .profile {
    width: 65px;
    height: 65px;
    position: absolute;
    bottom: 0;
    @media (max-width: 576px) {
      width: 100%;
      height: 30px;
      position: relative;
      margin: 15px 0;
      float: right;
    }
    img {
      border-radius: 50%;
      width: 65px;
      height: 65px;
      @media (max-width: 576px) {
        width: 30px;
        height: 30px;
        display: inline-block;
      }
    }
    .text {
      @media (max-width: 576px) {
        display: inline-block;
      }
    }
  }
}

.reply-chat-card {
  margin-bottom: 15px;
  .profile-col {
    @media (max-width: 576px) {
      width: 100% !important;
      text-align: right;
    }
  }
  .card {
    background: white;
    border: 1px solid $primary;
    color: $secondary-font;
    .date {
      font-size: 10px;
      opacity:.8;
      text-align: right;
      padding: 5px 15px 0 0;
    }
    .message-body {
      font-size: 16px;
      margin: 5px 0 0 0;
      padding: 5px 15px 15px 15px;
    }
  }
  .profile {
    width: 65px;
    height: 65px;
    position: absolute;
    bottom: 0;
    @media (max-width: 576px) {
      width: 100%;
      height: 30px;
      position: relative;
      margin: 15px 0;
      float: right;
    }
    img {
      border-radius: 50%;
      width: 65px;
      height: 65px;
      @media (max-width: 576px) {
        width: 30px;
        height: 30px;
        display: inline-block;
      }
    }
    .text {
      @media (max-width: 576px) {
        display: inline-block;
      }
    }
  }
}

.replies {
  display: none;
}