.write-new {
  width: 50px;
  height: 50px;
  background: url("../public/write.svg");
  background-size: 50px 50px;
  border: none;
  cursor: pointer;
  bottom: 25px;
  right: 5%;
  position: fixed;
}

.WriteNewModal {
  .createMessage-form {
    .createMessage-form-textarea {
      width: 100%;
      height: auto;
      border: 1px solid $lightborder;
      border-radius: 4px;
      padding: 4px;
      height: 200px;
      resize: none;
    }
  }
  .WriteNewModal-footer {
    .WriteNewModal-footer-submit {
      background: $primary;
      color: white;
    }
  }
}

.modal-dialog {
  @include transition(transition, 0.5s)
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    width: 500px;
}

.modal-content {
  padding: 10px;
  border-radius: 20px;
}

.modal-footer,
.modal-header {
  border-top: none !important;
  border-bottom: none !important;
}

.RTEWrap {
  min-height: 200px;
}
