// $primary: #0C7666;
// $secondary: #DAEAE9;
$chat-card-bg: #F1FBFA;
$chat-card-actionbar: #E6F2EE;
$secondary-font: #696969;

$primary: #1FD18A;
$secondary: #1FD068;
$dark: #2A2E32;
$font: #8B9197;
$lightborder: #F2F3F4;
